<div class="card w-75 bg-dark mb-2 border-secondary text-light">
  <div class="card-body">
  <h4 class="card-title"><%= comment.author %>  <small class="text-muted">a posté</small></h4>
  <hr class="border-white">
  <p class="card-text"><%= comment.content %> <%= comment.id %></p>
  <p><i>Posted <%= distance_of_time_in_words(comment.gossip.created_at, comment.created_at) %> later</i></p>
  <a href="<%= edit_gossip_comment_path(@gossip.id, comment.id) %>" class="btn btn-secondary">Edit</a> 
  </div>
</div>